NEXT_PUBLIC_API_ENDPOINT=http://localhost:3000/api
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=your-project-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key

# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL=

# Direct connection to the database. Used for migrations.
DIRECT_URL=

# Pay Solutions
NEXT_PUBLIC_PAY_SOLUTIONS_API_KEY=
NEXT_PUBLIC_PAY_SOLUTIONS_MERCHANT_ID=
PAY_SOLUTIONS_SIGNATURE=

# Engine
ENGINE_URL_L3USD=
ENGINE_URL_SPL=
ENGINE_CREATE_WALLET_URL=
ENGINE_X_BACKEND_WALLET_ADDRESS=
ENGINE_AUTHORIZATION_TOKEN=
